/* === Imports === */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
h1, h2, h3 {
  text-transform: uppercase;
  margin: 0; }

header > nav > ul ul a, header > nav > ul > li {
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  line-height: 50px; }

.row {
  *zoom: 1; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

[class*='col-'] {
  width: 100%;
  padding: 12px;
  float: left; }

.team > .circle > .col-s-6 > div, .team > .circle > .col-s-6 > div img {
  height: 120px;
  width: 120px;
  border-radius: 50%; }

/* === Global variables === */
* {
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #313131; }

/* ==== Header ==== */
.logo {
  float: left;
  line-height: 50px;
  cursor: pointer; }
  .logo:hover a {
    color: #fff; }
  .logo:hover .fa-hand-o-right {
    transform: translateX(5px);
    color: #4c4c4c; }
  .logo:hover .fa-hand-o-left {
    transform: translateX(-5px);
    color: #4c4c4c; }
  .logo a {
    color: #4c4c4c;
    display: inline;
    transition: .3s; }
  .logo .fa-hand-o-right,
  .logo .fa-hand-o-left {
    color: #fff;
    transition: .4s; }

h1 {
  color: #00c7e8;
  font-size: 30px;
  font-weight: 700; }

h2 {
  font-weight: 600; }

h3 {
  font-size: 18px;
  font-weight: 900; }

p {
  color: #4c4c4c;
  margin: 0; }

header {
  background-color: #313131;
  padding: 0 20px; }

.bars {
  float: right;
  line-height: 50px;
  font-size: 30px; }
  .bars:hover .fa {
    color: #00c7e8; }

header > nav > ul {
  margin: 0 auto;
  list-style-type: none;
  float: right;
  text-align: center;
  display: none; }
  header > nav > ul li:hover {
    background-color: #4c4c4c; }
  header > nav > ul li:hover > a {
    color: #00c7e8; }
  header > nav > ul ul {
    position: absolute;
    padding-left: 0;
    min-width: 68px;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: transform .3s; }
    header > nav > ul ul li {
      height: 50px;
      list-style-type: none;
      text-align: center;
      background-color: #313131;
      color: #00c7e8;
      width: 100%; }
      header > nav > ul ul li:last-child {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px; }
      header > nav > ul ul li:hover a {
        background-color: #4c4c4c;
        color: #00c7e8; }
    header > nav > ul ul a {
      display: block;
      padding: 0 10px;
      font-size: 12px; }

header > nav > ul > li {
  display: inline-block;
  width: 85px;
  padding: 0; }
  header > nav > ul > li:hover ul {
    transform: scaleY(1); }
  header > nav > ul > li:hover .fa {
    color: #00c7e8; }

header > nav a {
  display: block;
  text-decoration: none;
  color: #fff; }

header > nav > ul > li > a:hover {
  color: #00c7e8;
  transition: .4s; }

[title$='-icn'] {
  font-size: 18px;
  display: none; }

[title$='-name'] {
  display: none; }

/* ==== Hero ==== */
.hero {
  height: 300px;
  width: 100%;
  background: url("https://snap-photos.s3.amazonaws.com/img-thumbs/960w/SKOYGR38HA.jpg") center/cover no-repeat; }

.slogan {
  background-color: rgba(0, 0, 0, 0.4);
  float: right;
  max-width: 700px;
  margin: 100px 0;
  padding: 15px 20px;
  color: #fff;
  line-height: 30px; }

/* ==== Him Her Them ==== */
.benefits {
  margin: 50px auto;
  text-align: center; }
  .benefits .icn-bg {
    background-color: #313131;
    height: 90px;
    width: 90px;
    border-radius: 4px;
    color: #fff;
    line-height: 115px;
    display: inline-block;
    cursor: pointer; }
    .benefits .icn-bg:hover {
      background-color: #00c7e8;
      transition: .3s; }
    .benefits .icn-bg:hover ~ h3 {
      color: #00c7e8; }
    .benefits .icn-bg:hover ~ p {
      color: #000; }
    .benefits .icn-bg:hover .fa {
      transform: scale(1.05);
      transition: .3s; }
  .benefits .fa {
    font-size: 50px; }
  .benefits h3 {
    margin: 20px auto 5px; }

/* ==== Works ==== */
.works {
  text-align: center;
  margin: 100px auto 50px;
  padding: 0 20px; }
  .works h2 {
    margin-bottom: 10px; }

/* ==== Gallery ==== */
.gallery {
  margin: 50px auto; }
  .gallery img {
    height: auto;
    width: 100%; }

.view {
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }
  .view a {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    line-height: 25px;
    color: #4c4c4c;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    overflow: hidden;
    position: absolute;
    background-color: #fff; }
    .view a:nth-child(3) {
      right: 5%;
      top: 80%; }
    .view a:nth-child(4) {
      right: 5%;
      bottom: 80%; }

/* ==== Team ==== */
.team {
  margin: 100px auto 50px;
  text-align: center; }

.team > .circle > .col-s-6 > div {
  background-color: #000;
  margin: 0 auto;
  cursor: pointer; }
  .team > .circle > .col-s-6 > div:hover h4 {
    transition: .5s ease-in-out;
    transform: scale(1.2); }
  .team > .circle > .col-s-6 > div:hover img {
    opacity: .3;
    transition: .7s ease-in-out; }

.team > .circle > .col-s-6 > div > h4 {
  position: relative;
  top: -98px;
  color: #fff;
  transform: scale(0); }

/* ==== Awesome ==== */
.awesome {
  background-color: #00c7e8;
  display: inline-block;
  padding: 20px; }
  .awesome p {
    color: #fff;
    padding: 20px 0; }
  .awesome h2 {
    color: #fff; }

/* ==== Numbers ==== */
.numbers {
  margin: 100px auto;
  text-align: center; }
  .numbers .numbers-nr {
    font-size: 50px;
    font-weight: 900;
    color: #313131; }
  .numbers h4 {
    color: #00c7e8;
    margin: 0 auto; }

/* ==== Footer ==== */
footer {
  background-color: #4c4c4c; }
  footer .container {
    margin: 30px auto; }
  footer h3 {
    color: #fff;
    margin: 30px auto 10px;
    float: left; }
  footer .line {
    float: left;
    height: 2px;
    width: 20%;
    background-color: #fff;
    margin-top: 40px;
    margin-left: 10px; }
  footer p {
    color: #fff;
    padding-right: 20px; }
  footer ul {
    padding-left: 0; }
  footer ul > li {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    line-height: 40px;
    color: #4c4c4c;
    cursor: pointer;
    font-size: 26px;
    text-align: center;
    margin: 10px 7px 7px 0;
    background-color: #00c7e8;
    color: #fff; }
    footer ul > li:hover {
      background-color: #fff;
      color: #00c7e8;
      transition: .2s; }
    footer ul > li:hover .fa {
      color: #00c7e8;
      transform: scale(1.2);
      transition: .3s; }

footer > .container > .row {
  padding: 50px auto; }

.hidden {
  display: none; }

.copyright {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #313131; }

/* ==== Grid ==== */
@media screen and (min-width: 480px) and (max-width: 767px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.3333333333%; }
  .col-s-2 {
    width: 16.6666666667%; }
  .col-s-3 {
    width: 25%; }
  .col-s-4 {
    width: 33.3333333333%; }
  .col-s-5 {
    width: 41.6666666667%; }
  .col-s-6 {
    width: 50%; }
  .col-s-7 {
    width: 58.3333333333%; }
  .col-s-8 {
    width: 66.6666666667%; }
  .col-s-9 {
    width: 75%; }
  .col-s-10 {
    width: 83.3333333333%; }
  .col-s-11 {
    width: 91.6666666667%; }
  .col-s-12 {
    width: 100%; }
  .col-s-20 {
    width: 20%; }
  .col-s-40 {
    width: 40%; }
  .col-s-60 {
    width: 60%; }
  .col-s-80 {
    width: 80%; }
  .col-s-100 {
    width: 100%; }
  [title$='-icn'] {
    display: initial; }
  .bars {
    display: none; }
  header > nav > ul {
    display: initial; }
    header > nav > ul li {
      width: 33px;
      cursor: pointer;
      color: #00c7e8; }
      header > nav > ul li:hover {
        background-color: transparent; }
    header > nav > ul ul {
      display: none; }
  .view a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    line-height: 40px;
    color: #4c4c4c;
    cursor: pointer;
    font-size: 26px;
    text-align: center;
    font-weight: 800;
    overflow: hidden;
    position: absolute;
    background-color: #fff; }
  .hiden {
    display: none; } }

@media (min-width: 768px) {
  /* For pc: */
  .col-m-1 {
    width: 8.3333333333%; }
  .col-m-2 {
    width: 16.6666666667%; }
  .col-m-3 {
    width: 25%; }
  .col-m-4 {
    width: 33.3333333333%; }
  .col-m-5 {
    width: 41.6666666667%; }
  .col-m-6 {
    width: 50%; }
  .col-m-7 {
    width: 58.3333333333%; }
  .col-m-8 {
    width: 66.6666666667%; }
  .col-m-9 {
    width: 75%; }
  .col-m-10 {
    width: 83.3333333333%; }
  .col-m-11 {
    width: 91.6666666667%; }
  .col-m-12 {
    width: 100%; }
  .col-m-20 {
    width: 20%; }
  .col-m-40 {
    width: 40%; }
  .col-m-60 {
    width: 60%; }
  .col-m-80 {
    width: 80%; }
  .col-m-100 {
    width: 100%; }
  .bars {
    display: none; }
  [title$='-name'] {
    display: initial; }
  header > nav > ul {
    display: initial;
    font-size: .9rem; }
  .gallery [class*='col'] {
    padding: 0; }
  .gallery img {
    height: 20vw; }
  .view {
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center; }
    .view:hover a {
      transform: scale(1);
      transition: .5s; }
      .view:hover a:nth-child(3) {
        left: 65%; }
      .view:hover a:nth-child(4) {
        right: 65%; }
    .view:hover .mask {
      opacity: 1; }
    .view .mask {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      border: 600px solid rgba(0, 0, 0, 0.7);
      transition: .4s ease-in-out; }
    .view a {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 4px;
      line-height: 40px;
      color: #4c4c4c;
      cursor: pointer;
      font-size: 26px;
      text-align: center;
      font-weight: 800;
      overflow: hidden;
      position: absolute;
      background-color: #fff;
      transform: scale(0); }
      .view a:nth-child(3) {
        left: -40px;
        top: 43%; }
      .view a:nth-child(4) {
        right: -40px;
        top: 43%; }
      .view a:hover {
        color: #fff;
        background-color: #4c4c4c; }
    .view img {
      display: block;
      position: relative; }
  .awesome .lorem-second {
    padding-top: 65px; }
  .hidden-medium {
    display: none; }
  .hidden {
    display: initial; } }

/*# sourceMappingURL=style.css.map */