%header-text-1 {
	text-transform: uppercase;
	margin: 0;
}

%header-text-2 {
	line-height: 50px;
	color: $text-light-color;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	line-height: 50px;
}
	
%clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin img-view {
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
}

@mixin square-icn($square: 40px, $font-size: 26px) {
	display: inline-block;
	width: $square;
	height: $square;
	border-radius: $border-radius;
	line-height: $square;
	color: $theme-light-color;
	cursor: pointer;
	font-size: $font-size;
	text-align: center;
}

@mixin square-icn-view($font-weight: 800) {
	font-weight: $font-weight;
	overflow: hidden;
	position: absolute;
	background-color: #fff;
}

@mixin box-odd($width, $height) {
	height: $height;
	width: $width;
}

@mixin box-even($width) {
	height: $width;
	width: $width;
}
	
%cols {
	width: 100%;
	padding: 12px;
	float: left;
}

%team-img {
	@include box-even(120px);
	border-radius: 50%;
}	