// === Colors ===
$theme-main-color: #313131;	// dark grey for header, footer, font
$theme-light-color: #4c4c4c;	// light grey for header, footer, bg, font
$theme-secondary-color: #00c7e8;	// blue for bg, font
$text-light-color: #fff;	// white for bg, font

// === Fonts ===
$main-font: 'Open Sans', sans-serif;

// === Grid ===
$columns-12: 12;	// 12 columns grid
$columns-5: 5;	// 5 columns grid

// === Parameters ===
$border-radius: 4px;