
/* === Imports === */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
@import "variables";
@import "mixins";

/* === Global variables === */
* {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.row {
	@extend %clearfix;
}

[class*='col-'] {
	@extend %cols;
}
	
body {
	margin: 0;
	padding: 0;
	font-family: $main-font;
	color: $theme-main-color;
}
	
/* ==== Header ==== */
.logo {
	float: left;
	line-height: 50px;
	cursor: pointer;
	&:hover {
		a {
			color: $text-light-color;
		}
		.fa-hand-o-right {
			transform: translateX(5px);
			color: $theme-light-color;
		}
		.fa-hand-o-left {
			transform: translateX(-5px);
			color: $theme-light-color;
		}
	}
	a {
		color: $theme-light-color;
		display: inline;
		transition: .3s;
	}
	.fa-hand-o-right,
	.fa-hand-o-left {
		color: $text-light-color;
		transition: .4s;
	}
}

h1 {
	@extend %header-text-1;
	color: $theme-secondary-color;
	font-size: 30px;
	font-weight: 700;
}

h2 {
	@extend %header-text-1;
	font-weight: 600;
}

h3 {
	@extend %header-text-1;
	font-size: 18px;
	font-weight: 900;
}
	
p {
	color: $theme-light-color;
	margin: 0;
}

header {
	background-color: $theme-main-color;
	padding: 0 20px;
}

.bars {
	float: right;
	line-height: 50px;
	font-size: 30px;
	&:hover .fa {
		color: $theme-secondary-color;
	}
}

header>nav>ul {
	margin: 0 auto;
	list-style-type: none;
	float: right;
	text-align: center;
	display: none;
	li:hover {
		background-color: $theme-light-color;
	}
	li:hover>a {
		color: $theme-secondary-color;
	}
	ul {
		position: absolute;
		padding-left: 0;
		min-width: 68px;
		transform: scaleY(0);
		transform-origin: 50% 0;
		transition: transform .3s;
		li {
			height: 50px;
			list-style-type: none;
			text-align: center;
			background-color: $theme-main-color;
			color: $theme-secondary-color;
			width: 100%;
			&:last-child {
				border-bottom-right-radius: $border-radius;
				border-bottom-left-radius: $border-radius;
			}
			&:hover a {
				background-color: $theme-light-color;
				color: $theme-secondary-color;
			}
		}
		a {
			@extend %header-text-2;			
			display: block;
			padding: 0 10px;
			font-size: 12px;
		}
	}
}	

header>nav>ul>li {
	@extend %header-text-2;
	display: inline-block;
	width: 85px;
	padding: 0;
	&:hover ul {
		transform: scaleY(1);
	}
	&:hover .fa {
		color: $theme-secondary-color;
	}
}

header>nav a {
	display: block;
	text-decoration: none;
	color: $text-light-color;
}

header>nav>ul>li>a:hover {
	color: $theme-secondary-color;
	transition: .4s;
}

[title$='-icn'] {
	font-size: 18px;
	display: none;
}

[title$='-name'] {
	display: none;
}

/* ==== Hero ==== */	
.hero {
	@include box-odd(100%, 300px);
	background: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/SKOYGR38HA.jpg') center/cover no-repeat;
}

.slogan {
	background-color: rgba(0, 0, 0, .4);
	float: right;
	max-width: 700px;
	margin: 100px 0;
	padding: 15px 20px;
	color: $text-light-color;
	line-height: 30px;
}

/* ==== Him Her Them ==== */
.benefits {
	margin: 50px auto;
	text-align: center;
	.icn-bg {
		background-color: $theme-main-color;
		@include box-even(90px);
		border-radius: $border-radius;
		color: $text-light-color;
		line-height: 115px;
		display: inline-block;	
		cursor: pointer;
		&:hover {
			background-color: $theme-secondary-color;
			transition: .3s;
		}
		&:hover~h3 {
			color: $theme-secondary-color;
		}
		&:hover~p {
			color: #000;
		}
		&:hover .fa {
			transform: scale(1.05);
			transition: .3s;
		}
	}
	.fa {
		font-size: 50px;
	}
	h3 {
		margin: 20px auto 5px;
	}
}

/* ==== Works ==== */
.works {
	text-align: center;
	margin: 100px auto 50px;
	padding: 0 20px;
	h2 {
		margin-bottom: 10px;
	}
}
		
/* ==== Gallery ==== */
.gallery {
	margin: 50px auto;
	img {		
		@include box-odd(100%, auto);
	}
}
	
.view {
	@include img-view;
	width: 100%;
	a {
		@include square-icn($square: 25px, $font-size: 12px);
		@include square-icn-view($font-weight: 500);
		&:nth-child(3) {
			right: 5%;
			top: 80%;
		}
		&:nth-child(4) {
			right: 5%;
			bottom: 80%;
		}
	}
}

/* ==== Team ==== */
.team {
	margin: 100px auto 50px;
	text-align: center;
}

.team>.circle>.col-s-6>div {
	@extend %team-img;
	background-color: #000;
	margin: 0 auto;
	cursor: pointer;
	img {
		@extend %team-img;
	}
	&:hover h4 {
		transition: .5s ease-in-out;
		transform: scale(1.2);
	}
	&:hover img {
		opacity: .3;
		transition: .7s ease-in-out;
	}
}

.team>.circle>.col-s-6>div>h4 {
	position: relative;
	top: -98px;
	color: $text-light-color;
	transform: scale(0);
}
	
/* ==== Awesome ==== */
.awesome {
	background-color: $theme-secondary-color;
	display: inline-block;
	padding: 20px;
	p {
		color: $text-light-color;
		padding: 20px 0;
	}
	h2 {
		color: $text-light-color;
	}
}

/* ==== Numbers ==== */
.numbers {
	margin: 100px auto;
	text-align: center;
	.numbers-nr {
		font-size: 50px;
		font-weight: 900;
		color: $theme-main-color;
	}
	h4 {
		color: $theme-secondary-color;
		margin: 0 auto;
	}
}

/* ==== Footer ==== */
footer {
	background-color: $theme-light-color;
	.container {
		margin: 30px auto;
	}
	h3 {
		color: $text-light-color;
		margin: 30px auto 10px;
		float: left;
	}
	.line {
		float: left;
		@include box-odd(20%, 2px);
		background-color: #fff;
		margin-top: 40px;
		margin-left: 10px;
	}
	p {
		color: $text-light-color;
		padding-right: 20px;
	}
	ul {
		padding-left: 0;
	}
	ul>li {
		@include square-icn($square: 40px, $font-size: 26px);
		margin: 10px 7px 7px 0;
		background-color: $theme-secondary-color;
		color: $text-light-color;
		&:hover {
			background-color: #fff;
			color: $theme-secondary-color;
			transition: .2s;
		}
		&:hover .fa {
			color: $theme-secondary-color;
			transform: scale(1.2);
			transition: .3s;
		}
	}
}
			
footer>.container>.row {
	padding: 50px auto;
}
	
.hidden {
	display: none;
}

.copyright {
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: $theme-main-color;
}


/* ==== Grid ==== */
@media screen and (min-width: 480px) and (max-width: 767px) {
	
	/* For tablets: */		
	@for $i from 1 through $columns-12 {	//loop for 12 column grid
		.col-s-#{$i} {
			width: (100% / $columns-12) * $i;
		}
	}	
	
	@for $i from 1 through $columns-5 {		//loop for 5 column grid
		.col-s-#{$i * 20} {
			width: (100% / $columns-5) * $i;
		}
	}

	[title$='-icn'] {
		display: initial;
	}
		
	.bars {
		display: none;
	}
	
	header>nav>ul {
		display: initial;
		li {
			width: 33px;
			cursor: pointer;
			color: $theme-secondary-color;
			&:hover {
				background-color: transparent;
			}
		}
		ul {
			display: none;
		}
	}		
	
	.view a {
		@include square-icn($square: 40px, $font-size: 26px);
		@include square-icn-view($font-weight: 800);
	}

	.hiden {
		display: none;
	}
}

@media (min-width: 768px) {

	/* For pc: */
	@for $i from 1 through $columns-12 {	//loop for 12 column grid
		.col-m-#{$i} {
			width: (100% / $columns-12) * $i;
		}
	}
	
	@for $i from 1 through $columns-5 {	//loop for 5 column grid
		.col-m-#{$i * 20} {
			width: (100% / $columns-5) * $i;
		}
	}
    
	.bars {
		display: none;
	}
		
	[title$='-name'] {
		display: initial;
	}
	
	header>nav>ul {
		display: initial;
		font-size: .9rem;
	}
	
	.gallery [class*='col'] {
		padding: 0;
	}

	.gallery img {
		height: 20vw;
	}

	.view {
		@include img-view;
		&:hover a {
			transform: scale(1);
			transition: .5s;
			&:nth-child(3) {
				left: 65%;
			}
			&:nth-child(4) {
				right: 65%;
			}
		}
		&:hover .mask {
			opacity: 1;
		}
		.mask {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			border: 600px solid rgba(0, 0 ,0, 0.7);
			transition: .4s ease-in-out;
		}
		a {
			@include square-icn($square: 40px, $font-size: 26px);
			@include square-icn-view($font-weight: 800);
			transform: scale(0);
			&:nth-child(3) {
				left: -40px;
				top: 43%;
			}
			&:nth-child(4) {
				right: -40px;
				top: 43%;
			}
			&:hover {
				color: $text-light-color;
				background-color: $theme-light-color;
			}
		}
		img {
			display: block;
			position: relative;
		}
	}

	.awesome .lorem-second {
		padding-top: 65px;
	}

	.hidden-medium {
		display: none;
	}

	.hidden {
		display: initial;
	}
}